# CMake files
build/
*.bin
*.elf
*.map
sdkconfig
sdkconfig.old

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.sln
*.project
*.creator
*.kdev4

# Python virtual environment
venv/
.direnv/

# Compiled output
*.o
*.a